<div class="animate-panel" ng-init="ctrl.initData()">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <div class="input-group pull-right">
                    <input type="text" class="form-control" placeholder="search" ng-model="DistrictsVM.GetSearchParam('SearchCode').Value" ng-change="DistrictsVM.searchDistricts()" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="DistrictsVM.searchDistricts()">
                            <i class="glyphicon glyphicon-search"></i>Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div ng-show="Processing.GetProcessing('Districts').Value" class="row" style="z-index: 2000; position: absolute; left: 50%">
            <div class="col-md-5 col-md-offset-5">
                <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
            </div>
        </div>
        <div class="row">
            <table width="100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td class="k-header" style="text-align: center"></td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="DistrictsVM.startSort('Name')">Name  
                              <div ng-show="DistrictsVM.SortedField!=null&&DistrictsVM.SortedField.Name=='Name'" class="pull-right">
                                  <a ng-show="DistrictsVM.SortedField!=null&&DistrictsVM.SortedField.Name=='Name'&&DistrictsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="DistrictsVM.SortedField!=null&&DistrictsVM.SortedField.Name=='Name'&&DistrictsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="DistrictsVM.startSort('Code')">Code  
                              <div ng-show="DistrictsVM.SortedField!=null&&DistrictsVM.SortedField.Name=='Code'" class="pull-right">
                                  <a ng-show="DistrictsVM.SortedField!=null&&DistrictsVM.SortedField.Name=='Code'&&DistrictsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="DistrictsVM.SortedField!=null&&DistrictsVM.SortedField.Name=='Code'&&DistrictsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="DistrictsVM.startSort('ProvinceId')">ProvinceId  
                              <div ng-show="DistrictsVM.SortedField!=null&&DistrictsVM.SortedField.Name=='ProvinceId'" class="pull-right">
                                  <a ng-show="DistrictsVM.SortedField!=null&&DistrictsVM.SortedField.Name=='ProvinceId'&&DistrictsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="DistrictsVM.SortedField!=null&&DistrictsVM.SortedField.Name=='ProvinceId'&&DistrictsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                    </tr>
                </thead>
                <tbody ng-repeat="item in DistrictsVM.ArrDistrict">
                    <tr >
                        <td style="text-align: center" class="col-md-1">
                            <button class="btn btn-default" ng-show="item.allowedit" ng-click="startEditPopupDistrict(item)" title="Edit"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button class="btn btn-default" ng-show="item.allowremove" ng-click="removeDistrict(item)" title="Remove"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                       <td class="col-md-2">
                           {{item.Name}}
                       </td>
                       <td class="col-md-2">
                           {{item.Code}}
                       </td>
                       <td class="col-md-2">
                           {{item.ProvinceName}}
                       </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="row">
                                <div class="control-group col-md-4">
                                    <div class="controls">
                                        <a class="btn btn-default" ng-click="startAddPopupDistrict()"><i class="glyphicon glyphicon-plus" title="New"></i>New</a>
                                    </div>
                                </div>
                                <div class=" col-md-8">
                                    <div class="pull-right">
                                        <ul class="pagination">
                                            <li><a>Total <b>{{ DistrictsVM.Paging.TotalItems }}</b> items &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Page <b>{{DistrictsVM.Paging.PageIndex}} / {{DistrictsVM.Paging.TotalPages }}</b></a></li>
                                            <li ng-class="{disabled: DistrictsVM.Paging.PageIndex==1}"><a ng-click="DistrictsVM.gotoPrevPage()">&laquo;</a></li>
                                            <li ng-repeat-start="page in DistrictsVM.Paging.Pages" ng-class="{active: page == DistrictsVM.Paging.PageIndex}">
                                                <a ng-click="DistrictsVM.gotoPage(page)">{{page}}</a>
                                            </li>
                                            <li ng-repeat-end class="divider"></li>
                                            <li ng-class="{disabled:DistrictsVM.Paging.PageIndex >= DistrictsVM.Paging.TotalPages}"><a ng-click="DistrictsVM.gotoNextPage()">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
   <div class="modal fade" id="popupDistrict" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">District</h5>
                </div>
                <div class="modal-body" ng-if="DistrictVM!=null">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="DistrictVM.Processing.GetProcessing('District').Value">
                                <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                    <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="DistrictVM.District.isedit == true">
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlName">Name</label>
                               <input id="ctrlName" type="text" ng-model="DistrictVM.District.Name"  ng-change="onChangeDistrict_Name(DistrictVM.District)" ng-class="[{'validateinput':ValManager().Get('Name').IsValid==false}]" class="form-control" />
                               <div class="row" style="color: Red" data-bind="with:">
                                    <span ng-visible="DistrictVM.District.valmanager.Get('Name').IsValid==false&&DistrictVM.District.valmanager.Get('Name').ValMsg!=''">{{DistrictVM.District.valmanager.Get('Name').ValMsg}}</span>
                               </div>
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlCode">Code</label>
                           <input id="ctrlCode" type = "text" ng-model = "DistrictVM.District.Code"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlProvinceId">ProvinceId</label>
                           <select id="ctrlProvinceId" ng-model = "DistrictVM.District.ProvinceId" ng-options="item.name for item in ProvincesVM.ArrProvince track by obj.Id"></select>
                       </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-if="DistrictVM!=null">
                    <div class="pull-right">
                        <button class="btn btn-default" ng-click="finishEditPopupDistrict()">Save</button>&nbsp;
                        <button type="button" class="btn  btn-default" data-dismiss="modal">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
