<div class="animate-panel" ng-init="ctrl.initData()">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <div class="input-group pull-right">
                    <input type="text" class="form-control" placeholder="search" ng-model="CountrysVM.GetSearchParam('SearchCode').Value" ng-change="CountrysVM.searchCountrys()" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="CountrysVM.searchCountrys()">
                            <i class="glyphicon glyphicon-search"></i>Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div ng-show="Processing.GetProcessing('Countrys').Value" class="row" style="z-index: 2000; position: absolute; left: 50%">
            <div class="col-md-5 col-md-offset-5">
                <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
            </div>
        </div>
        <div class="row">
            <table width="100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td class="k-header" style="text-align: center"></td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="CountrysVM.startSort('Name')">Name  
                              <div ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='Name'" class="pull-right">
                                  <a ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='Name'&&CountrysVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='Name'&&CountrysVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="CountrysVM.startSort('Alpha2Code')">Alpha2Code  
                              <div ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='Alpha2Code'" class="pull-right">
                                  <a ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='Alpha2Code'&&CountrysVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='Alpha2Code'&&CountrysVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="CountrysVM.startSort('Alpha3Code')">Alpha3Code  
                              <div ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='Alpha3Code'" class="pull-right">
                                  <a ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='Alpha3Code'&&CountrysVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='Alpha3Code'&&CountrysVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="CountrysVM.startSort('ImmigrationCode')">ImmigrationCode  
                              <div ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='ImmigrationCode'" class="pull-right">
                                  <a ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='ImmigrationCode'&&CountrysVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='ImmigrationCode'&&CountrysVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="CountrysVM.startSort('PhoneCode')">PhoneCode  
                              <div ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='PhoneCode'" class="pull-right">
                                  <a ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='PhoneCode'&&CountrysVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="CountrysVM.SortedField!=null&&CountrysVM.SortedField.Name=='PhoneCode'&&CountrysVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                    </tr>
                </thead>
                <tbody ng-repeat="item in CountrysVM.ArrCountry">
                    <tr >
                        <td style="text-align: center" class="col-md-1">
                            <button class="btn btn-default" ng-show="item.allowedit" ng-click="startEditPopupCountry(item)" title="Edit"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button class="btn btn-default" ng-show="item.allowremove" ng-click="removeCountry(item)" title="Remove"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                       <td class="col-md-2">
                           {{item.Name}}
                       </td>
                       <td class="col-md-2">
                           {{item.Alpha2Code}}
                       </td>
                       <td class="col-md-2">
                           {{item.Alpha3Code}}
                       </td>
                       <td class="col-md-2">
                           {{item.ImmigrationCode}}
                       </td>
                       <td class="col-md-2">
                           {{item.PhoneCode}}
                       </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="row">
                                <div class="control-group col-md-4">
                                    <div class="controls">
                                        <a class="btn btn-default" ng-click="startAddPopupCountry()"><i class="glyphicon glyphicon-plus" title="New"></i>New</a>
                                    </div>
                                </div>
                                <div class=" col-md-8">
                                    <div class="pull-right">
                                        <ul class="pagination">
                                            <li><a>Total <b>{{ CountrysVM.Paging.TotalItems }}</b> items &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Page <b>{{CountrysVM.Paging.PageIndex}} / {{CountrysVM.Paging.TotalPages }}</b></a></li>
                                            <li ng-class="{disabled: CountrysVM.Paging.PageIndex==1}"><a ng-click="CountrysVM.gotoPrevPage()">&laquo;</a></li>
                                            <li ng-repeat-start="page in CountrysVM.Paging.Pages" ng-class="{active: page == CountrysVM.Paging.PageIndex}">
                                                <a ng-click="CountrysVM.gotoPage(page)">{{page}}</a>
                                            </li>
                                            <li ng-repeat-end class="divider"></li>
                                            <li ng-class="{disabled:CountrysVM.Paging.PageIndex >= CountrysVM.Paging.TotalPages}"><a ng-click="CountrysVM.gotoNextPage()">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
   <div class="modal fade" id="popupCountry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Country</h5>
                </div>
                <div class="modal-body" ng-if="CountryVM!=null">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="CountryVM.Processing.GetProcessing('Country').Value">
                                <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                    <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="CountryVM.Country.isedit == true">
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlName">Name</label>
                               <input id="ctrlName" type="text" ng-model="CountryVM.Country.Name"  ng-change="onChangeCountry_Name(CountryVM.Country)" ng-class="[{'validateinput':ValManager().Get('Name').IsValid==false}]" class="form-control" />
                               <div class="row" style="color: Red" data-bind="with:">
                                    <span ng-visible="CountryVM.Country.valmanager.Get('Name').IsValid==false&&CountryVM.Country.valmanager.Get('Name').ValMsg!=''">{{CountryVM.Country.valmanager.Get('Name').ValMsg}}</span>
                               </div>
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlAlpha2Code">Alpha2Code</label>
                           <input id="ctrlAlpha2Code" type = "text" ng-model = "CountryVM.Country.Alpha2Code"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlAlpha3Code">Alpha3Code</label>
                           <input id="ctrlAlpha3Code" type = "text" ng-model = "CountryVM.Country.Alpha3Code"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlImmigrationCode">ImmigrationCode</label>
                           <input id="ctrlImmigrationCode" type = "text" ng-model = "CountryVM.Country.ImmigrationCode"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlPhoneCode">PhoneCode</label>
                           <input id="ctrlPhoneCode" type = "text" ng-model = "CountryVM.Country.PhoneCode"  class="form-control col-md-12" />
                       </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-if="CountryVM!=null">
                    <div class="pull-right">
                        <button class="btn btn-default" ng-click="finishEditPopupCountry()">Save</button>&nbsp;
                        <button type="button" class="btn  btn-default" data-dismiss="modal">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
